.radio-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-left: 30px; /* Space for custom radio button */
  cursor: pointer;
  font-size: 16px;
  margin: 20px 0 20px;
}

.radio-container input {
  position: absolute;
  opacity: 0; /* Hide actual radio button */
}

.checkmark {
  position: absolute;
  left: 430px;
  top: 50%;
  transform: translateY(-50%);
  height: 20px;
  width: 20px;
  background-color: white;
  border: 2px solid var(--light-coral);
  border-radius: 50%;
  transition: all 0.3s ease;
}

.radio-container input:checked ~ .checkmark {
  background-color: var(--light-coral);
}

.checkmark::after {
  content: "";
  position: absolute;
  display: none;
  top: 50%;
  left: 50%;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.radio-container input:checked ~ .checkmark::after {
  display: block;
}

.button {
  /* outline: 2px solid rgb(23, 202, 23); */
  background-color: var(--light-coral);
  color: rgb(245, 245, 245, 1);
  font-size: 16px;
  font-weight: bolder;
  border-radius: 6px;
  height: 39px;
  width: 123px;
  margin: 10px;
  border: 4px solid transparent;
  border-color: rgba(255, 255, 255, 0);
  transition: transform 0.2s ease-in-out, border-color 0.4s ease-in-out,
    border 0.4s ease-in-out;
}

.post-job-button:disabled,
.button:disabled {
  color: rgb(245, 245, 245, 0.5);
  pointer-events: none;
}

.post-job-button:hover,
.button:hover {
  border: 4px solid transparent;
  border-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transform: scale(1.2);
}
