.input-field {
  width: 612px;
  height: 62px;
  font-size: 20px;
  border-radius: 10px;
  margin: 20px;
  justify-content: center;
}

.text-area {
  font-size: 30px;
  border-radius: 10px;
  margin: 20px;
  height: 200px;
  width: 90%;
  resize: none;
}

.bigger-input-field {
  font-size: 50px;
  border-radius: 10px;
  margin: 20px;
  height: 300px;
}

.file-upload-button {
  /* outline: 2px solid lime; */
  background-color: rgb(235, 126, 162);
  border-radius: 10px;
  border: 4px solid rgb(248, 212, 224);
  font-size: 15px;
  font-weight: bolder;
  color: white;
  height: 43px;
  width: 128px;
}

.input-field::placeholder {
  font-size: 20px;
  padding: 20px;
}

.bg {
  background-color: rgb(245, 245, 245);
}

.filler {
  background-color: rgb(245, 245, 245);
  height: 200px;
  width: 100%;
}

.first-text {
  text-align: center;
  opacity: 0;
  animation: fade-in 2s forwards;
  font-size: 30px;
  height: 280px;
  width: 100%;
}

.text-exit {
  position: absolute;

  text-align: center;
  opacity: 0;
  animation: slide-up-fade-out 1s forwards;
  font-size: 30px;
  height: 280px;
  width: 100%;
}

.text {
  text-align: center;
  opacity: 0;
  animation: slide-up-fade-in 1s forwards;
  font-size: 30px;
  height: 280px;
  width: 100%;
}

.bigger-text {
  text-align: center;
  opacity: 0;
  animation: slide-up-fade-in 1s forwards;
  font-size: 30px;
  height: 280px;
  width: 100%;
}

.post-job-button {
  background-color: var(--light-coral);
  color: whitesmoke;
  font-size: 36px;
  font-weight: bolder;
  border-radius: 6px;
  height: 69px;
  width: 225px;
  margin-top: 100px;
  border: 4px solid transparent;
  border-color: rgba(255, 255, 255, 0);
  transition: transform 0.2s ease-in-out, border-color 0.4s ease-in-out,
    border 0.4s ease-in-out;
}

.button {
  /* outline: 2px solid rgb(23, 202, 23); */
  background-color: var(--light-coral);
  color: rgb(245, 245, 245, 1);
  font-size: 16px;
  font-weight: bolder;
  border-radius: 6px;
  height: 39px;
  width: 123px;
  margin: 10px;
  border: 4px solid transparent;
  border-color: rgba(255, 255, 255, 0);
  transition: transform 0.2s ease-in-out, border-color 0.4s ease-in-out,
    border 0.4s ease-in-out;
}

.post-job-button:disabled,
.button:disabled {
  color: rgb(245, 245, 245, 0.5);
  pointer-events: none;
}

.post-job-button:hover,
.button:hover {
  border: 4px solid transparent;
  border-color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  transform: scale(1.2);
}

.hidden {
  display: none;
}

.previewContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.previewImage {
  max-width: 100px;
  max-height: 100px;
  border: 3px solid aquamarine;
  border-radius: 6px;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slide-up-fade-in {
  from {
    transform: translateY(400px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slide-up-fade-out {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(-200px);
    display: none;
    opacity: 0;
  }
}
