@media (max-width: 1021px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 100px 0;
  }
}

@media (min-width: 1022px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    margin: 100px 0;
  }
}

@media (max-width: 900px) {
  .container {
    display: flex;
    flex-wrap: wrap;
  }
}
