@media (max-width: 1021px) {
  .container {
    display: flex;
    justify-content: center;
    transform: translateY(-220px);
  }
}

@media (min-width: 1022px) {
  .container {
    display: flex;
    transform: translateY(-220px);
    /* margin-left: 330px; */
  }
}

@media (max-width: 900px) {
  .container {
    display: flex;
    transform: translateY(-90px);
    flex-wrap: wrap;
    /* margin-left: 330px; */
  }
}
